[
    {basicAuth, []},

    % HNSciCloud RHEA Federated Identity Provider based on Keycloak.
    {rhea, [
            % Standard config
            {auth_module, auth_keycloak},
            {app_id, <<"HN_FEDID_CLIENT_ID">>},
            {app_secret, <<"HN_FEDID_CLIENT_SECRET">>},
            % Provider specific config
            {xrds_endpoint, <<"HN_FEDID_OID_CONF_URL">>},
            {group_mapping, [
                    {enabled, true},
                    {vo_group_id, <<"HNSciCloud-RHEA">>}
                ]}
        ]}
].
