[
    {basicAuth, []},

    % HNSciCloud RHEA Federated Identity Provider based on Keycloak.
    {hnfedidp, [
            % Standard config
            {auth_module, auth_keycloak},
            {app_id, <<"HNFEDID_APP_ID">>},
            {app_secret, <<"HNFEDID_APP_SECRET">>},
            % Provider specific config
            {xrds_endpoint, <<"HNFEDID_URL">>}
        ]}
].
